/* Contact.css */



.contact {
  max-width: 600px;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactGroup {
  margin-bottom: 20px;
}
.contactGroup input{
  width: 30%;
  padding: 18px 18px;
  margin: 10px 28px;

}
 button{
  width: 85%;
  padding: 25px;
  margin: 10px 20px;
}


